<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Nouveau personne</title>
</head>
<body>
<!-- 	<div th:insert="includes/entete_fragment :: entete"></div> -->
	<h1>Nouveau personne</h1>
	<form th:action="@{/profilPersonne/inscription}" method="POST"> <!-- enctype="multipart/form-data"  -->
		<ul>

			<li><input name="nom" type="text" placeholder="Nom" /></li>
			<li><input name="prenom" type="text" placeholder="Prenom" /></li>
			<li><input name="dateNaissance" type="date" /></li>
			<li><input name="email" type="email" placeholder="Email" /></li>
			<li><input name="password" type="password" placeholder="" /></li>
			<li><input name="clubPrefere" placeholder="clubPrefere" /></li>
			<li><input name="clubActuel" placeholder="clubActuel" /></li>
			<li><input name="telephone" type="tel" placeholder="Téléphone" /></li>

			<li><input name="ligne1" type="text" placeholder="Adresse" /></li>
			<li><input name="ligne2" type="text" placeholder="Complément" /></li>
			<li><input name="codePostal" type="number" placeholder="Code Postal" /></li>
			<li><input name="ville" type="text" placeholder="Ville" /></li>

			<!-- 			<li><input name="file_image" type="file" placeholder="image" /></li> -->

		</ul>
		<a th:href="@{/profil}">Retour</a>
		<button>Créer</button>
	</form>
</body>
</html>