<main class="text-center py-5">
  <div class="container">
    <div class="row">
      <div class="col-md-8">
        <div class="row row-cols-12 row-cols-md-1">
          <div class="col mb-6">
            <!-- Card Wider -->
            <div class="card card-cascade wider">
              <!-- Card image -->
              <div class="view view-cascade overlay">
                <img
                  class="card-img-top"
                  src="https://www.girondins4ever.com/wp-content/uploads/2017/07/Javi-Garcia.jpg"
                  alt="Card image cap"
                />
                <a href="#!">
                  <div class="mask rgba-white-slight"></div>
                </a>
              </div>

              <!-- Card content -->
              <div class="card-body card-body-cascade text-center">
                <!-- Nom et prenom -->
                <h4 class="card-title">
                  <strong>{{ personne.prenom }} {{ personne.nom }}</strong>
                </h4>
                <!-- Club actuel -->
                <h5 class="blue-text pb-2">
                  <strong>
                    <i class="fas fa-futbol"></i>
                    {{ personne.clubActuel }}</strong
                  >
                  <i class="fas fa-flag"></i> {{ personne.clubPrefere }}
                </h5>
                <!-- Coordonnée -->
                <p class="card-text">
                  <i class="fas fa-at"></i> {{ personne.email }}
                  <i class="fas fa-phone"></i>
                  {{ personne.telephone }}
                </p>
                <!-- Adresse -->
                <p class="card-text">
                  <i class="fas fa-map-marker-alt"></i>
                  {{ personne.adresse.ville }}
                </p>
                <!-- Buttons -->
                <div>
                  <button
                    type="button"
                    class="btn btn-light"
                    [routerLink]="['/inscription-joueur']"
                  >
                    Devenir joueur
                  </button>
                  <button
                    class="btn blue-gradient"
                    [routerLink]="['/modifier-profil']"
                  >
                    Modifier votre profil
                  </button>
                </div>
              </div>
            </div>
            <!-- Card Wider -->
          </div>
        </div>
      </div>
    </div>
  </div>
  <br />
  <br /><br /><br /><br /><br /><br /><br /><br /><br /><br />
</main>
