.py-5 {
  text-align: center;
  background-image: url(https://cdn.pixabay.com/photo/2015/09/02/13/01/stadium-918830_1280.jpg);
}

.container {
  text-align: center;
}

.container > div {
  width: 350px;
  height: 500px;
}
.test1 {
  float: left;
}

.test2 {
  display: inline-block;
  margin: 0 auto;
}

.test3 {
  float: right;
}
