<main class="text-center py-5">
  <div class="container">
    <div class="row">
      <div class="col-md-8">
        <div class="row row-cols-12 row-cols-md-1">
          <div class="col mb-6">
            <!-- Card Wider -->
            <div class="card card-cascade wider">
              <!-- Card content -->
              <div class="card-body card-body-cascade text-center">
                <!-- Title -->
                <h4 class="card-title">
                  <strong>Vous êtes déconnecté</strong>
                </h4>
                <!-- Subtitle -->
                <h5 class="blue-text pb-2">
                  <strong>À très bientôt !</strong>
                </h5>
                <!-- Text -->
                <p class="card-text">
                  Bared, le réseau des supporters.
                </p>
                <!-- Buttons -->
                <div>
                  <button
                    type="button"
                    class="btn btn-light"
                    [routerLink]="['/']"
                  >
                    Découvrir Bared
                  </button>
                  <button
                    class="btn blue-gradient"
                    [routerLink]="['/connexion']"
                  >
                    Se connecter
                  </button>
                </div>
              </div>
            </div>
            <!-- Card Wider -->
          </div>
        </div>
      </div>
    </div>
  </div>
</main>
