<main class="text-center py-5">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="row row-cols-12 row-cols-md-1">
          <div class="col mb-6">
            <!-- Card Wider -->
            <div class="card card-cascade wider">
              <!-- Card content -->
              <div class="card-body card-body-cascade text-center">
                <!-- Title -->
                <br />
                <br />

                <div *ngIf="!joueurs">
                  <strong
                    >Aucun joueur n'a été trouvé avec ce nom ou ce
                    prénom</strong
                  >
                  <br /><br />
                </div>
                <div *ngIf="joueurs">
                  <h4 class="card-title">
                    Voici la liste des joueurs trouvés :
                  </h4>

                  <div class="row">
                    <div class="list-group col-12">
                      <a
                        *ngFor="let joueur of joueurs"
                        (click)="voterJoueur(joueur)"
                        class="list-group-item list-group-action"
                        >{{ joueur.prenom }} {{ joueur.nom }} -
                        {{ joueur.dateNaissance }} - {{ joueur.clubActuel }}</a
                      >
                    </div>
                  </div>
                </div>
                <a [routerLink]="['/voter']"
                  ><button class="btn blue-gradient btn-md" type="submit">
                    Retour
                  </button></a
                >
              </div>
            </div>
            <!-- Card Wider -->
          </div>
        </div>
      </div>
    </div>
  </div>
</main>
