<main class="text-center py-5">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="row row-cols-2 row-cols-md-1">
          <div class="col mb-4">
            <div class="card h-100">
              <!--Card content-->
              <div class="card-body">
                <!--Title-->
                <h5
                  class="card-header blue-gradient white-text text-center py-4"
                >
                  <h3>Bienvenue {{ prenom }} !</h3>
                </h5>
                <!--Text-->

                <form
                  class="p-5 col-12 mx-auto"
                  (ngSubmit)="doSend()"
                  [formGroup]="myForm"
                >
                  <input
                    class="form-control mb-4"
                    formControlName="email"
                    type="email"
                    name="email"
                    id="email"
                    placeholder="E-mail"
                    required
                  />
                  <input
                    type="password"
                    formControlName="password"
                    id="defaultLoginFormPassword"
                    class="form-control mb-4"
                    placeholder="Password"
                    required
                  />
                  <div class="form-row mb-4">
                    <div class="col">
                      <input
                        type="text"
                        formControlName="nom"
                        name="nom"
                        id="nom"
                        class="form-control mb-4"
                        placeholder="Nom"
                      />
                    </div>
                    <div class="col">
                      <input
                        type="text"
                        name="prenom"
                        formControlName="prenom"
                        id="prenom"
                        class="form-control mb-4"
                        placeholder="Prénom"
                        [(ngModel)]="prenom"
                      />
                    </div>
                  </div>

                  <div class="form-row mb-4">
                    <div class="col">
                      <label>Date de Naissance</label>
                    </div>
                    <div class="col">
                      <input
                        type="date"
                        formControlName="dateNaissance"
                        name="dateNaissance"
                        id="dateNaissance"
                        class="form-control mb-4"
                        placeholder="Date de Naissance"
                      />
                    </div>
                  </div>

                  <div class="form-row mb-4">
                    <div class="col">
                      <input
                        type="text"
                        name="clubPrefere"
                        formControlName="clubPrefere"
                        id="clubPrefere"
                        class="form-control mb-4"
                        placeholder="Club préféré"
                      />
                    </div>
                    <div class="col">
                      <input
                        type="text"
                        name="clubActuel"
                        formControlName="clubActuel"
                        id="clubActuel"
                        class="form-control mb-4"
                        placeholder="Club actuel"
                      />
                    </div>
                  </div>

                  <input
                    type="text"
                    name="telephone"
                    formControlName="telephone"
                    id="tel"
                    class="form-control mb-4"
                    placeholder="Téléphone"
                  />
                  <input
                    type="text"
                    name="ligne1"
                    formControlName="ligne1"
                    id="ligne1"
                    class="form-control mb-4"
                    placeholder="Adresse"
                  />
                  <input
                    type="text"
                    name="ligne2"
                    formControlName="ligne2"
                    id="ligne2"
                    class="form-control mb-4"
                    placeholder="Complément"
                  />
                  <div class="form-row mb-4">
                    <div class="col">
                      <input
                        type="text"
                        formControlName="codePostal"
                        name="codePostal"
                        id="codePostal"
                        class="form-control mb-4"
                        placeholder="Code Postal"
                      />
                    </div>
                    <div class="col">
                      <input
                        type="text"
                        formControlName="ville"
                        name="ville"
                        id="ville"
                        class="form-control mb-4"
                        placeholder="Ville"
                      />
                    </div>
                  </div>

                  <button class="btn blue-gradient btn-md" type="submit">
                    Valider
                  </button>
                </form>
              </div>
            </div>
            <!-- Card -->
          </div>
        </div>
      </div>
    </div>
  </div>
</main>
