<main class="text-center py-5">
  <div class="card">
    <form class="p-5 col-12 mx-auto">
      <h3 class="title">Devenez joueur</h3>
      <input
        class="form-control mb-4"
        formControlName="tailleCm"
        type="number"
        name="tailleCm"
        id="tailleCm"
        placeholder="Taille en cm"
        required
      />
      <input
        type="poidsKg"
        formControlName="poidsKg"
        id="poidsKg"
        class="form-control mb-4"
        placeholder="Poids en kg"
        required
      />
      <div class="form-row mb-4">
        <div class="col">
          <input type="radio" id="d" name="piedFortDroit" value="Droitier" />
          <label for="h"> Droitier </label>
          <input type="radio" id="g" name="piedFortDroit" value="Gauchier" />
          <label for="f"> Gauchier </label>
        </div>
      </div>

      <div class="form-row mb-10">
        <div class="col-3">
          <label>Choisissez une photo</label>
        </div>
        <div class="col">
          <input
            type="file"
            name="pathPhoto"
            formControlName="pathPhoto"
            id="pathPhoto"
            class="form-control mb-4"
            placeholder="Photo"
          />
        </div>
      </div>

      <div class="form-row mb-4">
        <div class="col">
          <input
            class="form-control mb-4 descriptiontest"
            type="text"
            name="description"
            formControlName="description"
            id="description"
            placeholder="Description"
          />
        </div>
        <input
          type="text"
          name="vitesse100m"
          formControlName="vitesse100m"
          id="vitesse100m"
          class="form-control mb-4"
          placeholder="Temps vitesse sur 100 m"
        />
      </div>

      <div class="row">
        <button class="btn blue-gradient btn-md-4" type="submit">
          Valider
        </button>
        <button
          class="btn blue-gradient btn-md-4"
          type="submit"
          [routerLink]="['/mon-profil']"
        >
          Retour
        </button>
      </div>
    </form>
  </div>
</main>
